// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ヘッダーの設定*/
.weather-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #000;
  color: #fff
}

.daily-weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*today ボタンの設定*/
.today{
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background-color: #f39800;
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.today:hover{
  background-color: #f9c500;
}

/*tomorrow ボタンの設定*/
.tomorrow{
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background-color: #f39800;
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.tomorrow:hover{
  background-color: #f9c500;
}

/*weather-infoの表示場所を設定*/
.weather-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*温度の文字の設定*/
.celsius_max{
  color: #f90;
}

.celsius_min{
  color: #09f;
}

/*セレクトボックスの位置を設定*/
.select-cities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
