// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ヘッダーの設定*/
.weather-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #000;
  color: #fff;
}

.daily-weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*背景デザイン*/
.sky{
  animation: cloud 25s linear infinite;
  background: image-url("clouds.png")
  ,linear-gradient(#bbe4fa, hsl(171, 40%, 91%));
  background-position-x: 0%;
  background-position-y: 35%;
  background-repeat: repeat-x;
  background-size: 800px auto;
  height: 100%px;
}

@keyframes cloud {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 800px;
  }
}

/*雨の背景*/
.rain{
  animation: rain 5s linear infinite;
  background: image-url("rain.png"), #C0C0C0;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat-y;
  background-size: 800px auto;
  height: 100%;
}

@keyframes rain {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 800px;
  }
}


/*today ボタンの設定*/
.today{
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #FFA500;
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.today:hover{
  background-color: #f9c500;
}

/*tomorrow ボタンの設定*/
.tomorrow{
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #FFA500;
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.tomorrow:hover{
  background-color: #f9c500;
}

/*weather-infoの表示場所を設定*/
.weather-info{
  display: flex;
  justify-content: center;
}

.weather-info-contents{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background: #fffaf0;
  border: solid;
}

.weather-info-item{
  width: 50%;
  text-align: right;
  margin-top: 5%;
  margin-bottom: 5%;
  background: #faf0e6;
}

.weather-info-description{
  width: 50%;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  background: #faf0e6;
}

/*温度の文字の設定*/
.celsius-max{
  color: #f90;
}

.celsius-min{
  color: #09f;
}

/*セレクトボックスの設定*/
.select-cities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*フッターの設定*/
#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #000;
}

footer p:link{ color: #fff; }
footer p:visited{ color : #fff; }
